
.footer {
    --background: #e8eff0;
    --shadow: #b2d7e4;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px 25px 25px;
}

.content {
    display: inline;
    text-align: center;
}

.donate {
    background-color: var(--background);
    border-radius: 5px;
    margin-top: 25px;
    padding: 5px;
}

.donate > * {
    margin: 7px 0;
}

.info {
    text-shadow: 0 1px 0 var(--shadow);
    border-radius: 5px;
    padding: 5px;
}

.bitcoin {
    color: #ffa600;
}

.ether {
    color: #7575d3;
}

@media only screen and (max-width: 600px) {
    .donate > p {
        font-size: 1.4rem;
    }
}