
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-flow: row nowrap;
    padding: 5px;
    min-width: 350px;
}

.navbar a {
    text-decoration: none;
    transition: color 75ms linear;
}

.navbar a:hover {
    color: #567cce;
}

.logo {
    font-family: Festive, Arial, Helvetica, sans-serif;
    font-size: 4.8rem;
}